<h1 class="display-4 text-center my-4">New Bill for <%= @employee.first_name %> <%= @employee.last_name %></h1>

<%= form_with(model: [@employee, @bill], local: true, class: 'container') do |form| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :amount %>
        <%= form.number_field :amount, step: 0.01, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :bill_type, 'Type', class: 'd-block' %>
        <%= form.select :bill_type, Bill.bill_types.keys.map { |type| [type.capitalize, type] }, prompt: 'Select Type', class: 'form-control custom-select custom-select-lg' %>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <%= link_to 'Back to Bills', employee_bills_path(@employee), class: 'btn btn-secondary btn-block' %>
            </div>
          </div>
          <div class="col-md-6">
            <%= form.submit 'Create Bill', class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
